
/* QUILL EDITOR CUSTOMIZE  */
.ql-editor {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    min-height: 300px;
    text-align: center;
  }
  
  .ql-editor iframe {
    width: 50%;
    height: 400px;
    max-width: 100%; /* This ensures iframes are responsive */
}

/* OVERWRITE TOASTR CSS  */
.toast-success {
    background-color: #28a745; /* Bootstrap green */
}

.toast-error {
    background-color: #dc3545; /* Bootstrap red */
}

.toast-warning {
    background-color: #ffc107; /* Bootstrap yellow */
}

.toast-info {
    background-color: #17a2b8; /* Bootstrap info */
}