/* QUILL EDITOR CUSTOMIZE FOR FRONTEND  */

.ql-align-center img {
    display: block; /* Makes the image behave as a block element */
    margin-left: auto; /* Centering */
    margin-right: auto; /* Centering */
    max-width: 100%; /* Ensures responsiveness */
}

.ql-align-right img {
    display: block; /* Makes the image behave as a block element */
    margin-left: auto; /* Image move to right */
    max-width: 100%;  /* Ensures responsiveness */
}

.ql-editor iframe {
    width: 50%;
    height: 400px;
    max-width: 100%; /* This ensures iframes are responsive */
}
/* TOASTR CSS  */
.toast {
    opacity: 1 !important;
}

.main-bg-color {
    background: rgb(25 83 69);
}

.main-color {
    color: rgb(25 83 69);
}

.mb-20 {
    margin-bottom: 20px;
}

/* PARTICLE JS  */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(25 83 69);
  }
  
/* CIRCLE ANIMATION CSS */
.pie-chart {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: conic-gradient(#f39c12 0% 14.29%,
            #e74c3c 14.29% 28.57%,
            #2ecc71 28.57% 42.86%,
            #f1c40f 42.86% 57.14%,
            #9b59b6 57.14% 71.43%,
            #3498db 71.43% 85.71%,
            #e67e22 85.71% 100%);
    animation: rotateChart 25s linear infinite;
}

/* Pause the animation on hover */
.pie-chart:hover {
    animation-play-state: paused;
}

@keyframes rotateChart {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.pie-chart::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #3B7314; */
    background-color: rgb(34, 133, 110);
    /* background-color: rgb(74, 126, 113); */
    border-radius: 50%;
}

.label {
    position: absolute;
    font-size: 1.2rem;
    color: white;
    transform-origin: center center;
}

/* Rotating Text on Each Segment */
.label-1 {
    top: 19%;
    left: 29%;
    transform: rotate(65deg);
}

.label-2 {
    top: 20%;
    right: 28%;
    transform: rotate(116deg);
}

.label-3 {
    top: 35%;
    right: 6%;
    transform: rotate(168deg);
}

.label-4 {
    bottom: 26%;
    right: 19%;
    transform: rotate(221deg);
}

.label-5 {
    bottom: 12%;
    left: 42%;
    transform: rotate(273deg);
}

.label-6 {
    bottom: 22%;
    left: 12%;
    transform: rotate(328deg);
}

.label-7 {
    top: 35%;
    left: 4%;
    transform: rotate(369deg);
}

.center-text-relative {
    position: relative;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #fff;
}


/* TYPING ANIMATION CSS  */
/* .typing-container {
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    width: fit-content;
    font-size: 24px;
    color: #333;
}  */

.typing-text {
    display: inline;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.typing-container {
    animation: blink 0.75s step-end infinite alternate;
}

/* CUSTOM CSS  */
.ml-90 {
    margin-left: 90px;
}

/* OWL CAROUSEL CSS  */
.owl-carousel .item img {
    display: block;
    width: 100%;
    height: auto;
}

/* Optional styling for the image container */
.slider-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Custom styling for arrows */
.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    font-size: 40px;
    margin-top: 0 !important;

}

.owl-nav button.owl-prev,
.owl-nav button.owl-next {
    color: rgb(15 118 110) !important;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin: -30px !important;
}

.owl-nav button.owl-prev:hover,
.owl-nav button.owl-next:hover {
    background-color: transparent !important;
}

.animated-button {
    display: inline-flex;
    align-items: center;
    padding: 12px 24px;
    background-color: #29b952;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}

.animated-button .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 16px;
    position: relative;
}

.animated-button:hover {
    background-color: #3498db;
}

.animated-button:hover .arrow {
    transform: translateX(8px);
    /* Move arrow 8px to the right on hover */
}

.animated-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    z-index: 0;
}

.animated-button:hover::before {
    transform: scaleX(1);
}

.animated-button span {
    z-index: 1;
    /* Make sure the arrow stays above the background effect */
}



/* RESPONSIVE CSS */
@media (max-width: 576px) {
    .ml-90 {
        margin-left: 0px;
    }

    .mb-20 {
        margin-bottom: 0;
    }

    #particles-js {
        height: 80vh;
    }

    .pie-chart::before {
        width: 60px;
        height: 60px;
    }

    .pie-chart {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .label {
        font-size: .6rem;
    }
    

    .center-text {
        left: 50%;
        font-size: .7rem;
    }
}